<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <h1>Heading 1 <small>Sub-heading</small></h1>
            <h2>Heading 2 <small>Sub-heading</small></h2>
            <h3>Heading 3 <small>Sub-heading</small></h3>
            <h4>Heading 4 <small>Sub-heading</small></h4>
            <h5>Heading 5 <small>Sub-heading</small></h5>
            <h6>Heading 6 <small>Sub-heading</small></h6>
        </div>
        <div class="col-xs-2">
            <h3>
                The heading
                <small class="text-muted">with faded secondary text</small>
            </h3>
        </div>
        <div class="col-xs-4">
            <div class="card">
                <div class="card-block">
                    <div class="card-title display-4">Title</div>
                    <div class="card-text">
                        <h1 class="display-3">Display 4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>