<!--{{#if userFullName}}-->
    <!--<h2>Hello this </h2>-->
    <!--<a href="/signout">Sign out</a>-->
<!--{{else}}-->
    <!--<a href="/signup">Signup</a>-->
    <!--<a href="/signin">Signin</a>-->
    <!--<br>-->
<!--{{/if}}-->